name: Frontend CD

on:
  workflow_run:
    workflows: ['Frontend CI']
    branches: ['main']
    types:
      - completed

env:
  PORT: ${{ secrets.PORT }}

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Build docker-compose
        run: docker compose -f docker-compose.prod.yml up -d --build

      - name: Clear Docker Cache
        run: docker system prune -af
